onepassword_account = "XxxxxxXxxXxXXXXXXxxxxXXX"
onepassword_vault   = "Vault"
user                = "user"
domain              = "domain.local"
base_ip_address     = "10.0.0"
clone_vm_id         = "100"